@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


:root {
--theme-bg-color: #1C1C1C;
--theme-text-color: white;
--header-size:60px;
--theme-el-bg-color:white;
--theme-el-text-color:#1C1C1C;
--theme-secondary-bg-color:#262626
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: "JetBrains Mono", monospace;
}




[data-theme='dark'] {
--theme-bg-color: #1C1C1C;
--theme-secondary-bg-bolor:#262626;
--theme-text-color: white;
}

[data-theme='light'] {
--theme-bg-color: white;
--theme-text-color: black;
}
